@font-face {
  font-family: font;
  src: url(/bitwise.ttf);
}

body {
  background-color: #161616;
  color: white;
  font-family: font;
  user-select: none;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 3em;
  line-height: 0;
  top: 10px;
  position: relative;
}

#kernel {
  display: none;
}

#topright p {
  margin-top: 10px;
}

#center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* p {
  line-height: 0.3em;
  z-index: 3;
  position: relative;
} */

#title-desc {
  text-align: center;
  font-size: 1em;
  top: 10px;
  position: relative;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#topright {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

#controls {
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 5px;
  width: 80px;
  height: 30px;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.5s ease;
}

#controls:hover {
  width: 325px;
  height: 335px;
}

#controls span {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

#controls p {
  opacity: 0;
  position: relative;
  bottom: 15px;
  transition: all 0.5s ease;
  width: 325px;
  line-height: 20px;
  translate: -50% 0;
  scale: 0;
}

#controls:hover p {
  opacity: 1;
  scale: 1;
  translate: 0 0 ;
  transition: all 0.5s ease;
}

#bottomright {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
}

#bottomright p {
  text-align: center;
  margin-top: 0;
}

input {
  background-color: #161616;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-family: font;
}

button {
  background-color: rgb(0, 127, 255);
  border-radius: 20px;
  border: none;
  color: white;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  font-family: font;
}
button:hover {
  width: 90%;
}
button:active {
  width: 80%;
}

#stats {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 5px 10px;
}

.category {
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px 5px;
  transition: all 0.5s ease, filter 0.3s ease, scale 0.3s ease;
}

.category:hover {
  filter: brightness(1.1);
  scale: 1.025;
}

.category div {
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category div p {
  display: block;
  font-size: 0;
  margin: 0;
  line-height: 0px;
  /* height: 0; */
  transition: all 0.5s ease;
}

.expand {
  background-color: rgba(75, 75, 75, 0.5);
}

.expand div {
  opacity: 1;
}

.expand div p {
  font-size: 15px;
  line-height: 20px;
  /* height: 15px; */
}

#tools {
  /* background-color: rgba(50, 50, 50, 0.5); */
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  position: absolute;
  padding: 5px;
  /* border-radius: 30px; */
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  translate: 0 -50%;
  z-index: 2;
}

#tools div {
  width: 75px;
  height: 75px;
  border-radius: 30px;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  scale: 1;
  transition: all 0.3s ease;
  z-index: 2;
}

#tools div:hover {
  scale: 0.95;
  filter: brightness(1.1);
}

#tools .stable:hover {
  scale: 1;
  filter: brightness(1);
}

#tools div:active {
  scale: 0.8;
  filter: brightness(1.2);
}

#tools div span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  translate: 0 -50%;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

#tools div:hover span {
  left: calc(100% + 10px);
  opacity: 1;
} 

#tools .stable:hover span {
  left: 50%;
  opacity: 0;
} 


#edit {
  background-image: url(/edit.png);
}

#upload {
  background-image: url(/upload.png);
}

#browse {
  background-image: url(/browse.png);
}

#capture {
  background-image: url(/capture.png);
}

#tools div #captureActions {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: 0 -50%;
  width: 150px;
  height: 125px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  opacity: 0;
  scale: 0;
}

#tools .stable #captureActions {
  opacity: 1;
  scale: 1;
  left: calc(100% + 10px);
}

#tools #captureActions:hover {
  filter: brightness(1);
}

#captureActions button {
  width: 100%;
  height: 50%;
  border: 1px solid white;
}

#captureActions input {
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
}

#captureActions button:hover {
  scale: 0.95;
  filter: brightness(1.2)
}

#captureActions button:active {
  scale: 0.85;
  filter: brightness(1.2)
}

#cUploadBtn {
  background-color: rgba(0, 127, 255, 0.5);
}

#cCopyBtn {
  background-color: rgba(0, 255, 0, 0.5);
}

#cCancelBtn {
  background-color: rgba(255, 0, 0, 0.5);
}