@font-face {
  font-family: font;
  src: url(/bitwise.ttf);
}

body {
  background-color: #161616;
  color: white;
  font-family: font;
  user-select: none;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 3em;
  line-height: 0;
  top: 10px;
  position: relative;
}

#center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 0.3em;
  z-index: 3;
  position: relative;
}

#title-desc {
  text-align: center;
  font-size: 1em;
  top: 10px;
  position: relative;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#topright {
  position: absolute;
  right: 0;
  top: 0;
}

#controls {
  position: absolute;
  left: 20px;
  bottom: 5px;
  line-height: 20px;
}

#bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#bottomright p {
  text-align: center;
}

input {
  background-color: #161616;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-family: font;
}

button {
  background-color: rgb(0, 127, 255);
  border-radius: 20px;
  border: none;
  color: white;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  font-family: font;
}
button:hover {
  width: 90%;
}
button:active {
  width: 80%;
}
